# Node
node_modules/

# Map files and logs
*.map
*.log

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build
dist/

# Temp files
*.tmp
*.temp

# Coverage
coverage/

# Sensitive or large files
.env
